<script type="text/x-handlebars">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse in collapse" id="bs-example-navbar-collapse-1" style="height: auto;">
        <ul class="nav navbar-nav">
          {{#each menu in topMenu}}
            <li>
              {{#link-to menu.href}}
                {{menu.title}}
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            {{#if currentUser}}
              <a href='/'>
                {{currentUser.email}}
              </a>
            {{/if}}
          </li>
          <li>
            {{#if currentUser}}
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{outlet}}
</script>


<script type="text/x-handlebars" data-template-name='tasks/index'>
  <table class="table">
    <thead>
      <tr>
        <th>任务名称</th>
        <th>阶段</th>
        <th>预定完成时间(个工作日)</th>
        <th>完成时间(个工作日)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
      <tr>
        <td>{{title}}</td>
        <td>{{state}}</td>
        <td>{{planedTime}}</td>
        <td>{{time}}</td>
        <td>
          {{#link-to 'tasks.task' id}}
            查看
          {{/link-to}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script type="text/x-handlebars" data-template-name='tasks/task'>
  <div class="description panel panel-primary">
    <div class="panel-body">
      <h3>{{title}}</h3>
      <button type='button' class='btn btn-default' {{action editDescription}}>Edit</button>
    </div>
    <ul class="list-group">
      {{#each desc in descriptions}}
        <li class="list-group-item">{{desc}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="idea panel panel-primary">
    <div class="panel-body">
      思路与方案
      {{#if ideaEditing}}
        <button type='button' class='btn btn-default' {{action saveIdea}}>Save</button>      
      {{else}}
        <button type='button' class='btn btn-default' {{action editIdea}}>Edit</button>      
      {{/if}}
    </div>
    {{#if ideaEditing}}
      {{textarea value=idea cols="80" rows="6"}}
    {{else}}
      <ul class="list-group">
      {{#each ide in ideas}}
        <li class="list-group-item">{{ide}}</li>
      {{/each}}
      </ul>
    {{/if}}
  </div>

  <div class="task-items panel panel-primary">
    <div class="panel-body">
      子任务
      <button type="button" class="btn btn-default" {{action addItem}}>
        <span class='glyphicon glyphicon-plus'></span>添加
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>名称</th>
          <th>状态</th>
          <th>估时(工作日)</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{#each item in items}}
          {{log item}}
          {{render "taskItem" item}}
        {{/each}}
        {{#if newItem}}
          <tr>
            <td>{{input value=newItem.title}}</td>
            <td>{{input value=newItem.state}}</td>
            <td>{{input value=newItem.planTime}}</td>
            <td>
              <button type='button' {{action saveNewItem}}>Save</button>
            </td>
          </tr>
        {{/if}}
      </tbody>
    <tbody>
    </table>
  </div>

  <div class="gotcha panel panel-primary">
    <div class="panel-body">
      Gotchas
      <button type="button" class="btn btn-default" {{action addGotcha}}>
        <span class='glyphicon glyphicon-plus'></span>添加
      </button>
    </div>
    <div class="panel-footer">
    .......................
    </div>
  </div>

  <div class="bugs panel panel-primary">
    <div class="panel-body">
      Bugs
      <button type="button" class="btn btn-default" {{action addBug}}>
        <span class='glyphicon glyphicon-plus'></span>添加
      </button>
    </div>
    <div class="panel-footer">
    .......................
    </div>
  </div>

  <div class="summary panel panel-primary">
    <div class="panel-body">
      总结
      <button type="button" class="btn btn-default" {{action addSummary}}>
        <span class='glyphicon glyphicon-plus'></span>添加
      </button>
    </div>
    <div class="panel-footer">
    .......................
    </div>
  </div>
</script>

<script type='text/x-handlebars' data-template-name='taskItem'>
<tr>
  {{#if editing}}
    <td>{{input value=model.title}}</td>
    <td>{{input value=model.state}}</td>
    <td>{{input value=model.planTime}}</td>
    <td>
      <button type='button' {{action save}}>Save</button>
    </td>
  {{else}}
    <td>{{model.title}}</td>
    <td>{{model.state}}</td>
    <td>{{model.planTime}}</td>
    <td>
      <button type='button' {{action edit}}>Edit</button>
    </td>
  {{/if}}
</tr>
</script>