<script type="text/x-handlebars">
	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-collapse in collapse" id="bs-example-navbar-collapse-1" style="height: auto;">
	      <ul class="nav navbar-nav">
          {{#each menu in topMenu}}
						<li>
							{{#link-to menu.href}}
								{{menu.title}}
							{{/link-to}}
						</li>
					{{/each}}
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li>
		        {{#if currentUser}}
					  	<a href='/'>
					  		{{currentUser.email}}
					  	</a>
					  {{/if}}
					</li>
					<li>
						{{#if currentUser}}
							<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
					  {{/if}}
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	{{outlet}}
</script>


<script type="text/x-handlebars" data-template-name='tasks'>
	<table class="table">
    <thead>
      <tr>
        <th>任务名称</th>
        <th>阶段</th>
        <th>预定完成时间(个工作日)</th>
        <th>完成时间(个工作日)</th>
      </tr>
    </thead>
    <tbody>
    	{{#each}}
      <tr>
        <td>{{title}}</td>
        <td>{{state}}</td>
        <td>{{planedTime}}</td>
        <td>{{time}}</td>
      </tr>
			{{/each}}
    </tbody>
  </table>
</script>